[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-dotenv = "*"
pytest-xdist = "*"  # run test in parallel manner ref. https://stackoverflow.com/questions/45733763/pytest-run-tests-parallel

mockito = "*"

[requires]
python_version = "3.7"
