[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-dotenv = "*"

[packages]
sqlalchemy = "*"
psycopg2 = "==2.7.3.1"   # required fix version by normal python code in Ubuntu 16.04 w/ python 3.6.x
pytest-xdist = "*"  # run test in parallel manner ref. https://stackoverflow.com/questions/45733763/pytest-run-tests-parallel

[requires]
python_version = "3.6"
